@font-face {
    font-family: $ffRalewayReg;
    src: url('../fonts/static/Raleway-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: $ffRalewayMed;
    src: url('../fonts/static/Raleway-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: $ffRalewaySemiBold;
    src: url('../fonts/static/Raleway-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: $ffRalewayBold;
    src: url('../fonts/static/Raleway-Medium.ttf');
    font-weight: 700;
}