@mixin flex($fd, $jc, $fwrap) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  flex-wrap: $fwrap;
}

@mixin bgImg($bi, $br, $bp) {
  background-image: $bi;
  background-repeat: $br;
  background-position: $bp;
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
