@media (min-width: 1020px) {
  .services {
    .container {
      max-width: 1300px;
      margin: 0 auto;
    }

    &__title {
      max-width: 638px;
      font-size: 48px;
      letter-spacing: -0.96px;
    }
  }
}
