.form {
    .container {
        padding: 0 20px;
    }

    &__info {
        @include flex(column, center, inherit);
    }

    &__wrapper {
        @include flex(column, center, inherit);
        padding-top: 116px;
    }

    &__subtitle {
        @include font(18px, $ffRalewaySemiBold, 600, #8B77FE, uppercase, left, 95%);
    }

    &__title {
        margin: 16px 0;
        letter-spacing: -0.8px;
        @include font(40px, $ffRalewayBold, 700, #fff, inherit, left, 95%);
    }

    &__subtitle-bottom {
        @include font(18px, $ffRalewayReg, 400, rgba(255, 255, 255, 0.56), inherit, left, 130%);
    }

    .form__input {
        margin-top: 48px;
        padding: 16px;
        border-radius: 16px;
        background: #0D0D0D;

        &>div {
            background-color: #000;
            border-radius: 12px;
            padding: 12px;
            @include flex(column, inherit, no-wrap);
            gap: 4px;
        }

        div {
            label {
                letter-spacing: -0.48px;
                @include font(16px, $ffRalewayMed, 500, rgba(255, 255, 255, 0.56), inherit, left, 130%);
            }

            input {
                background-color: transparent;
                outline: none;
                border: none;
                letter-spacing: -0.48px;
                @include font(16px, $ffRalewayBold, 700, #ffffff, inherit, left, 130%);

                &::placeholder {
                    @include font(16px, $ffRalewayBold, 700, #ffffff, inherit, left, 130%);

                }
            }
        }

        div+div {
            margin-top: 12px;
        }

        button {
            margin-top: 24px;
            padding: 11px 16px;
            @include flex(row, center, no-wrap);
            align-items: center;
            width: 100%;
            border-radius: 8px;
            background: #8B77FE;
            @include font(16px, $ffRalewaySemiBold, 600, #fff, inherit, left, 100%);
        }

        &-text {
            margin-top: 12px;
            color: rgba(255, 255, 255, 0.66);
            letter-spacing: -0.48px;
            @include font(16px, $ffRalewayMed, 500, rgba(255, 255, 255, 0.66), inherit, center, 130%);
            @include flex(row, center, no-wrap);
            background-color: #0D0D0D !important;
            align-items: center;
            padding-bottom: 0 !important;
            ;
        }
    }
}