.form {
  margin: 116px 0 130px;
  .container {
    padding: 0 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 600;
    color: $primary;
    text-transform: uppercase;
    line-height: 95%;
  }

  &__title {
    margin: 16px 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 95%;
    letter-spacing: -0.8px;
  }

  &__subtitle-bottom {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff8f;
    line-height: 130%;
  }

  .form__input {
    margin-top: 48px;
    border-radius: 16px;
    background: $dark;
    padding: 16px;
    & > div {
      background-color: $black;
      border-radius: 12px;
      padding: 12px;
      @include flex(column, inherit, no-wrap);
      gap: 4px;
    }

    div {
      label {
        font-size: 16px;
        $color: hsla(0, 0%, 100%, 0.561);
        line-height: 130%;
        letter-spacing: -0.48px;
      }

      input {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.48px;

        &::placeholder {
          font-size: 16px;
          font-weight: 700;
          line-height: 130%;
          letter-spacing: -0.48px;
        }
      }
    }

    div + div {
      margin-top: 12px;
    }

    &-file {
      input {
        display: none;
      }

      label + label {
        width: 100%;
        border: 1px solid #fff;
        border-radius: 4px;
        font-size: 16px;
        text-align: center;
        line-height: 130%;
        cursor: pointer;
      }
    }

    button {
      margin-top: 24px;
      padding: 11px 16px;
      @include flex(row, center, no-wrap);
      align-items: center;
      width: 100%;
      border-radius: 8px;
      background: $primary;
      font-size: 16px;
      font-weight: 600;
    }

    &-text {
      margin-top: 12px;
      color: #ffffffa8;
      letter-spacing: -0.48px;
      font-size: 16px;
      color: #ffffffa8;
      line-height: 130%;
      @include flex(row, center, no-wrap);
      background-color: $dark !important;
      align-items: center;
      padding-bottom: 0 !important;
    }
  }
}
