@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Regular.woff"), url("../assets/fonts/Raleway-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Medium.woff"), url("../assets/fonts/Raleway-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-SemiBold.woff"), url("../assets/fonts/Raleway-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/Raleway-Bold.woff"), url("../assets/fonts/Raleway-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
