@charset "UTF-8";
html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  color: #fff;
  background-color: #000000; /* Задаем черный цвет фона */
  background-image: url(./../images/main/Background.png); /* Добавляем изображение фона */
  background-position: 0 0; /* Выравнивание изображения по центру */
  background-size: cover;
  background-repeat: repeat-y; /* Запрет повторения изображения */
}

a {
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/static/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/static/Raleway-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/static/Raleway-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../fonts/static/Raleway-Medium.ttf");
  font-weight: 700;
}
.header {
  background-color: rgba(0, 0, 0, 0.385);
}
.header .container {
  padding: 0 20px;
}
.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: inherit;
  align-items: center;
  padding: 16px 0;
  position: relative;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: inherit;
  align-items: center;
  height: auto;
  width: 80%;
}
.header__logo img {
  width: 100%;
  height: auto;
}
.header .menu__input {
  font-size: 0;
  height: 0;
  width: 0;
  display: none;
}
.header .menu__title {
  width: 20px;
  height: 20px;
  position: relative;
}
.header .menu__title img[alt=h-menu] {
  width: 100%;
  height: 100%;
}
.header .menu__title img[alt=times] {
  opacity: 0;
  position: absolute;
  left: 0;
  top: -25px;
}
.header .menu #menu_1:checked ~ .header__list {
  transform: scaleX(1);
}
.header .menu #menu_1:checked ~ .menu__title > img[alt=h-menu] {
  transition: all 400ms linear;
  opacity: 0;
}
.header .menu #menu_1:checked ~ .menu__title > img[alt=times] {
  transition: all 400ms linear;
  transition-delay: 400ms;
  opacity: 1;
}
@keyframes menuAnim {
  50% {
    padding-bottom: 200px;
  }
  100% {
    padding-bottom: 0;
  }
}
.header__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  position: absolute;
  left: -20px;
  transform-origin: top right;
  transform: scaleY(0);
  top: 100%;
  width: calc(100% + 40px);
  height: auto;
  z-index: 2;
  transition: all 200ms linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
}
.header__list-item {
  width: 100%;
}
.header__list-link {
  padding: 12px 0;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 500;
  color: #ffffff;
  text-transform: inherit;
  text-align: center;
  line-height: 130%;
  display: block;
  text-align: center;
  border: 1px solid transparent;
}
.header__list-link:hover {
  cursor: pointer;
}
.header__list-cats {
  list-style-type: none;
}
.header__main {
  margin-bottom: 160px;
  padding-top: 80px;
  height: calc(100vh - 86px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-wrap: no-wrap;
  align-items: center;
  background: url("../../assets/images/main/headermain-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-left: 20px;
  padding-right: 20px;
}
.header__main .anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 500ms linear forwards;
}
.header__main-logo {
  width: 206px;
  height: 99px;
}
.header__main-logo img {
  width: 100%;
  height: auto;
}
.header__main .logo__anim {
  animation-delay: 500ms;
}
.header__main .title__anim {
  animation-delay: 1000ms;
}
.header__main .subtitle__anim {
  animation-delay: 1500ms;
}
.header__main-title {
  margin: 24px 0;
  font-style: normal;
  align-self: stretch;
  font-size: 54px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: inherit;
  text-align: center;
  line-height: 51.415px;
  letter-spacing: -1.28px;
  background: #8173D2;
  background: radial-gradient(circle farthest-corner at center center, #8173D2 0%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__main-subtitle {
  font-size: 20px;
  font-family: "Raleway";
  font-weight: 500;
  color: rgba(255, 255, 255, 0.56);
  text-transform: inherit;
  text-align: center;
  line-height: 130%;
  align-self: stretch;
  animation-delay: 1.5s;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 750px) {
  .header .container {
    padding: 0 20px;
  }
}
@media (min-width: 1020px) {
  .header .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .header .menu__title {
    display: none;
  }
  .header__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    left: 0;
    margin: 0;
    transform: scale(1);
    height: auto;
  }
  .header__list-item + .header__list-item {
    margin-left: 24px;
    margin-top: 0;
  }
  .header__list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: min-content;
  }
  .header__list-link {
    transition: all 600ms linear;
    position: relative;
  }
  .header__list-link::after {
    transition: all 600ms linear;
    content: "";
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
  }
  .header__list-link:hover {
    color: #8B77FE;
  }
  .header__list-link:hover::after {
    transform: scaleX(0.5);
  }
  .header__main {
    padding-top: 100px;
    background-color: black;
    background-position: 0 0;
  }
  .header__main-title {
    font-size: 96px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: inherit;
    text-align: center;
    line-height: 77.123px;
  }
  .header__main-subtitle {
    width: 491px;
    margin: 0 auto;
  }
}
.main .container {
  padding: 0 20px;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
}
.main__subtitle {
  letter-spacing: -0.54px;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 600;
  color: #8B77FE;
  text-transform: uppercase;
  text-align: left;
  line-height: 95%;
}
.main__title {
  margin-top: 16px;
  letter-spacing: -0.8px;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: inherit;
  text-align: left;
  line-height: 95%;
}
.main__news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
  margin-top: 24px;
}
.main__news-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: inherit;
  width: 100%;
  height: 272px;
  padding: 24px;
  border-radius: 16px;
  background: #0D0D0D;
  margin-top: 24px;
  position: relative;
}
.main__news-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(3, 3, 3, 0.82) 0%, rgba(255, 249, 249, 0) 100%);
  z-index: 1;
  border-radius: 16px;
}
.main__news-img {
  transition: all 400ms linear;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  background-color: lightgray;
  z-index: 2;
}
.main__news-item:hover .main__news-img {
  transform: scale(1.2);
}
.main__news-link {
  position: relative;
  z-index: 3;
}
.main__news-link .news__link-title {
  font-size: 28px;
  font-family: "Raleway";
  font-weight: 600;
  color: #fff;
  text-transform: inherit;
  text-align: left;
  line-height: 95%;
  letter-spacing: -0.64px;
  position: relative;
  z-index: 4;
}
.main__news-link .news__link-title:hover {
  text-decoration: underline;
}
.main__news-link .news__link-date {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: inherit;
  align-items: center;
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 500;
  color: rgba(255, 255, 255, 0.56);
  text-transform: inherit;
  text-align: left;
  line-height: 95%;
  letter-spacing: -0.54px;
  margin-top: 16px;
}

@media (min-width: 750px) {
  .main .container {
    padding: 0 20px;
  }
  .main__news {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .main__news-item {
    width: 48%;
    margin-top: 24px !important;
  }
}
@media (min-width: 1020px) {
  .main .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .main__subtitle {
    font-size: 18px;
    font-family: "Raleway";
    font-weight: 600;
    color: #8B77FE;
    text-transform: uppercase;
    text-align: left;
    line-height: 95%;
  }
  .main__title {
    letter-spacing: -0.96px;
    max-width: 551px;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: inherit;
    text-align: left;
    line-height: 95%;
  }
  .main__news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: inherit;
  }
  .main__news-item + .main__news-item {
    margin-top: 48px;
    margin-left: 24px;
  }
}
.form .container {
  padding: 0 20px;
}
.form__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
}
.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  padding-top: 116px;
}
.form__subtitle {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 600;
  color: #8B77FE;
  text-transform: uppercase;
  text-align: left;
  line-height: 95%;
}
.form__title {
  margin: 16px 0;
  letter-spacing: -0.8px;
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: inherit;
  text-align: left;
  line-height: 95%;
}
.form__subtitle-bottom {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  color: rgba(255, 255, 255, 0.56);
  text-transform: inherit;
  text-align: left;
  line-height: 130%;
}
.form .form__input {
  margin-top: 48px;
  padding: 16px;
  border-radius: 16px;
  background: #0D0D0D;
}
.form .form__input > div {
  background-color: #000;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  flex-wrap: no-wrap;
  gap: 4px;
}
.form .form__input div label {
  letter-spacing: -0.48px;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 500;
  color: rgba(255, 255, 255, 0.56);
  text-transform: inherit;
  text-align: left;
  line-height: 130%;
}
.form .form__input div input {
  background-color: transparent;
  outline: none;
  border: none;
  letter-spacing: -0.48px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: inherit;
  text-align: left;
  line-height: 130%;
}
.form .form__input div input::placeholder {
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-transform: inherit;
  text-align: left;
  line-height: 130%;
}
.form .form__input div + div {
  margin-top: 12px;
}
.form .form__input-file input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.form .form__input-file label + label {
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: inherit;
  text-align: center;
  line-height: 130%;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.form .form__input button {
  margin-top: 24px;
  padding: 11px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background: #8B77FE;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 600;
  color: #fff;
  text-transform: inherit;
  text-align: left;
  line-height: 100%;
}
.form .form__input-text {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.66);
  letter-spacing: -0.48px;
  font-size: 14px;
  font-family: "Raleway";
  font-weight: 500;
  color: rgba(255, 255, 255, 0.66);
  text-transform: inherit;
  text-align: center;
  line-height: 130%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  background-color: #0D0D0D !important;
  align-items: center;
  padding-bottom: 0 !important;
}

@media (min-width: 750px) {
  .form .container {
    padding: 0 20px;
  }
}
@media (min-width: 1020px) {
  .form .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .form__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: inherit;
    align-items: flex-start;
  }
  .form__info {
    flex-basis: 618px;
    margin-top: 52px;
  }
  .form__input {
    flex-basis: 419px;
  }
}
.footer {
  background-color: rgba(0, 0, 0, 0.982);
}
.footer .container {
  padding: 0 20px;
}
.footer__wrapper {
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(5px);
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 500;
  color: #ffffff;
  text-transform: inherit;
  text-align: center;
  line-height: 130%;
  order: 2;
  padding: 16px 20px;
}
.footer__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
  flex-basis: 100%;
  order: 2;
  display: none;
}
.footer__logo img {
  width: 80%;
  height: auto;
}
.footer__list {
  width: 100%;
  padding: 0 20px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
  list-style-type: none;
}
.footer__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer__list-link {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 500;
  color: #ffffff;
  text-transform: inherit;
  text-align: center;
  line-height: 130%;
  display: block;
  transition: color 600ms;
  position: relative;
  padding: 5px 8px;
}
.footer__list-link::after {
  transition: all 600ms linear;
  content: "";
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
}
.footer__list-link:hover {
  cursor: pointer;
  color: #8B77FE;
}
.footer__list-link:hover::after {
  transform: scaleX(0.5);
}
.footer__list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 24px;
  margin: 0 12px;
}

@media (min-width: 750px) {
  .footer .container {
    padding: 0 20px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: center;
  }
  .footer__info {
    width: 100%;
  }
  .footer__list {
    margin-top: 0;
    padding: 0;
    order: 2;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer__list-item {
    margin-top: 0;
  }
}
@media (min-width: 1020px) {
  .footer .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .footer__list {
    width: 45%;
    margin-top: 0;
  }
  .footer__info {
    width: 45%;
    margin-top: 0;
  }
}
.artists .container {
  padding: 0 20px;
}
.artists__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
  margin-top: 80px;
}
.artists__subtitle {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.artists__title {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 38px */
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.artists__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  margin-top: 48px;
}
.artists__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0D0D0D;
  background: #000;
}
.artists__list-item + .artists__list-item {
  margin-top: 12px;
}
.artists__list-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
}
.artists__list-img {
  height: 150px;
  width: 100%;
  overflow: hidden;
}
.artists__list-img img {
  transition: all 600ms linear;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.artists__list-img img:hover {
  transform: scale(1.2);
  border-radius: 8px;
}
.artists__list-name {
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.48px;
  margin-top: 20px;
  margin-bottom: 12px;
}
.artists__list-about {
  color: rgba(255, 255, 255, 0.56);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.54px;
}

@media (min-width: 750px) {
  .artists .container {
    padding: 0 20px;
  }
  .artists__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .artists__list-item {
    width: 49%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
@media (min-width: 1020px) {
  .artists .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .artists__title {
    max-width: 638px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%;
    /* 45.6px */
    letter-spacing: -0.96px;
  }
  .artists__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .artists__list-item {
    width: 33%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
.services .container {
  padding: 0 20px;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
  margin-top: 80px;
}
.services__subtitle {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.services__title {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 38px */
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.services__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  margin-top: 48px;
}
.services__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0D0D0D;
  background: #000;
}
.services__list-item + .services__list-item {
  margin-top: 12px;
}
.services__list-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
}
.services__list-title {
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 22.8px */
  letter-spacing: -0.48px;
}
.services__list-subtitle {
  color: rgba(255, 255, 255, 0.56);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: -0.54px;
  margin-top: 12px;
}
.services__list-price {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  /* 22.8px */
  letter-spacing: -0.48px;
  margin-top: 16px;
}

@media (min-width: 750px) {
  .services .container {
    padding: 0 20px;
  }
  .services__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services__list-item {
    width: 49%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
@media (min-width: 1020px) {
  .services .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .services__title {
    max-width: 638px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%;
    /* 45.6px */
    letter-spacing: -0.96px;
  }
  .services__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .services__list-item {
    width: 32%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
.shop .container {
  padding: 0 20px;
}
.shop__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
  margin-top: 80px;
}
.shop__subtitle {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.shop__title {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 38px */
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.shop__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  margin-top: 48px;
}
.shop__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0D0D0D;
  background: #000;
}
.shop__list-item + .shop__list-item {
  margin-top: 12px;
}
.shop__list-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
}
.shop__list-img {
  width: 100%;
  overflow: hidden;
}
.shop__list-img img {
  transition: all 600ms linear;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.shop__list-img img:hover {
  transform: scale(1.2);
}
.shop__list-name {
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 22.8px */
  letter-spacing: -0.48px;
  margin-top: 20px;
  margin-bottom: 12px;
}
.shop__list-price {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  /* 22.8px */
  letter-spacing: -0.48px;
}
.shop__list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 16px;
  gap: 8px;
  border-radius: 8px;
  align-self: stretch;
  background: #8B77FE;
  margin-top: 20px;
  cursor: pointer;
  color: #FFF;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
}

@media (min-width: 750px) {
  .shop .container {
    padding: 0 20px;
  }
  .shop__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shop__list-item {
    width: 49%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
@media (min-width: 1020px) {
  .shop .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .shop__title {
    max-width: 638px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%;
    /* 45.6px */
    letter-spacing: -0.96px;
  }
  .shop__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shop__list-item {
    width: 24%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
.single .container {
  padding: 0 20px;
}
.single__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
  padding-top: 80px;
}
.single__subtitle {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.single__title {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 38px */
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.single__btn {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  flex-wrap: inherit;
  margin-top: 24px;
}
.single__btn-active, .single__btn-inactive {
  cursor: pointer;
  display: flex;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
}
.single__btn-active {
  border: 1px solid transparent;
  background: #8B77FE;
  color: #FFF;
  margin-right: 12px;
}
.single__btn-inactive {
  border: 1px solid #8B77FE;
  background: transparent;
  color: #8B77FE;
  transition: all 400ms linear;
}
.single__btn-inactive:hover {
  border-color: #fff;
  color: #fff;
}
.single__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  margin-top: 48px;
}
.single__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0D0D0D;
  background: #000;
}
.single__list-item + .single__list-item {
  margin-top: 12px;
}
.single__list-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
}
.single__list-img {
  width: 100%;
  overflow: hidden;
}
.single__list-img img {
  transition: all 600ms linear;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.single__list-img img:hover {
  transform: scale(1.2);
}
.single__list-title {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  /* 17.1px */
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-top: 20px;
}
.single__list-name {
  color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 22.8px */
  letter-spacing: -0.48px;
  margin: 8px 0;
}
.single__list-singer {
  color: rgba(255, 255, 255, 0.56);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: -0.54px;
}

@media (min-width: 750px) {
  .single .container {
    padding: 0 20px;
  }
  .single__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .single__list-item {
    width: 49%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
@media (min-width: 1020px) {
  .single .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .single__title {
    max-width: 662px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%;
    /* 45.6px */
    letter-spacing: -0.96px;
  }
  .single__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .single__list-item {
    width: 24%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
.album .container {
  padding: 0 20px;
}
.album__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
  margin-top: 80px;
}
.album__subtitle {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.album__title {
  color: #FFF;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 38px */
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.album__btn {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  flex-wrap: inherit;
  margin-top: 24px;
}
.album__btn-active, .album__btn-inactive {
  cursor: pointer;
  display: flex;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 16px */
}
.album__btn-active {
  border: 1px solid transparent;
  background: #8B77FE;
  color: #FFF;
}
.album__btn-inactive {
  margin-right: 12px;
  border: 1px solid #8B77FE;
  background: transparent;
  color: #8B77FE;
}
.album__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
  list-style-type: none;
  width: 100%;
  margin-top: 48px;
}
.album__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0D0D0D;
  background: #000;
}
.album__list-item + .album__list-item {
  margin-top: 12px;
}
.album__list-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: inherit;
  align-items: flex-start;
}
.album__list-img {
  width: 100%;
  overflow: hidden;
}
.album__list-img img {
  transition: all 600ms linear;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.album__list-img img:hover {
  transform: scale(1.2);
}
.album__list-title {
  color: #8B77FE;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 95%;
  /* 17.1px */
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-top: 20px;
}
.album__list-name {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.album__list-name div:nth-child(1) {
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  /* 22.8px */
  letter-spacing: -0.48px;
}
.album__list-singer {
  color: rgba(255, 255, 255, 0.56);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: -0.54px;
}
.album__list-tracks {
  list-style-type: none;
}
.album__list-tracks .tracks__list-item {
  color: #FFF;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: -0.36px;
  margin-top: 8px;
  padding: 14px;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #0D0D0D;
  counter-increment: track-counter;
}
.album__list-tracks .tracks__list-item::before {
  content: counter(track-counter) "   ";
  padding-right: 4px;
  color: rgba(255, 255, 255, 0.56);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 23.4px */
  letter-spacing: -0.54px;
}

@media (min-width: 750px) {
  .album .container {
    padding: 0 20px;
  }
  .album__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .album__list-item {
    width: 70%;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}
@media (min-width: 1020px) {
  .album .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .album__title {
    max-width: 662px;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 95%;
    /* 45.6px */
    letter-spacing: -0.96px;
  }
  .album__list {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 850px;
  }
  .album__list-img {
    flex-basis: 445px;
  }
  .album__list-wrapper {
    margin-left: 32px;
    flex-basis: 405px;
  }
  .album__list-item {
    width: 100%;
    display: flex;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0D0D0D;
    background: #000;
    margin-top: 12px;
  }
}/*# sourceMappingURL=style.css.map */