/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

li {
  font-size: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff"), url("../fonts/Raleway-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff"), url("../fonts/Raleway-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-SemiBold.woff"), url("../fonts/Raleway-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff"), url("../fonts/Raleway-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  text-align: left;
  scroll-behavior: smooth;
  background-color: #000;
  background-image: url("./../images/main/Background.webp");
  background-position: 0 0;
  background-size: cover;
}

#root {
  height: 100%;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.header {
  background-color: rgba(0, 0, 0, 0.3843137255);
}
.header .container {
  padding: 0 20px;
}
.header__top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: inherit;
  align-items: center;
  padding: 16px 0;
}
.header__logo {
  width: 90px;
}
.header__logo img {
  width: 100%;
  height: auto;
}
.header .menu__input {
  font-size: 0;
  height: 0;
  width: 0;
  display: none;
}
.header .menu__title {
  position: relative;
  width: 20px;
  height: 20px;
}
.header .menu__logo {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  position: relative;
}
.header .menu__logo::after {
  transition: all 300ms;
  content: "";
  display: block;
  position: absolute;
  transform: translateY(7px);
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.header .menu__logo::before {
  transition: all 300ms;
  content: "";
  display: block;
  position: absolute;
  border-radius: 2px;
  transform: translateY(-7px);
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.header .menu__logo-closed {
  background-color: transparent;
}
.header .menu__logo-closed::after {
  transform: rotate(45deg);
}
.header .menu__logo-closed::before {
  transform: rotate(-45deg);
}
@keyframes menuAnim {
  50% {
    padding-bottom: 200px;
  }
  100% {
    padding-bottom: 0;
  }
}
.header__list {
  position: absolute;
  left: -20px;
  transform-origin: top right;
  top: 100%;
  width: calc(100% + 40px);
  z-index: 2;
  transition: all 200ms linear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.9);
  height: calc(100vh - 75px);
}
.header__list-item {
  width: 100%;
}
.header__list-link {
  padding: 12px 0;
  font-size: 16px;
  text-align: center;
  display: block;
  border: 1px solid transparent;
}
.header__list-cats {
  list-style-type: none;
}
.header__list-closed {
  transform: scaleY(1);
}
.header__list-open {
  transform: scaleY(0);
}

@media (min-width: 750px) {
  .header .container {
    padding: 0 20px;
  }
}
@media (min-width: 1020px) {
  .header .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .header .menu__title {
    display: none;
  }
  .header__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    left: 0;
    margin: 0;
    transform: scale(1);
    height: auto;
  }
  .header__list-item + .header__list-item {
    margin-left: 24px;
    margin-top: 0;
  }
  .header__list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: min-content;
  }
  .header__list-link {
    transition: all 600ms linear;
    position: relative;
  }
  .header__list-link::after {
    transition: all 600ms linear;
    content: "";
    display: block;
    position: absolute;
    top: 80%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ffffff;
    transform: scaleX(0);
  }
  .header__list-link:hover {
    cursor: pointer;
    color: #8b77fe;
  }
  .header__list-link:hover::after {
    transform: scaleX(0.5);
  }
  .header .menu__logo {
    display: none;
  }
}
.intro {
  overflow: hidden;
  padding-top: 80px;
  height: calc(100vh - 86px);
  background: url("../../assets/images/main/headermain-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}
.intro .container {
  padding: 0 20px;
}
.intro__inner .anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 500ms linear forwards;
}
.intro-logo {
  width: 206px;
  height: 99px;
  margin: 0 auto;
}
.intro-logo img {
  width: 100%;
  height: auto;
}
.intro .logo__anim {
  animation-delay: 500ms;
}
.intro .title__anim {
  animation-delay: 1000ms;
}
.intro .subtitle__anim {
  animation-delay: 1500ms;
}
.intro-title {
  margin: 24px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 51.415px;
  letter-spacing: -1.28px;
  text-align: center;
  background: #8b77fe;
  background: radial-gradient(circle farthest-corner at center center, #8b77fe 0%, #ffffff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5607843137);
  text-align: center;
  line-height: 130%;
  animation-delay: 1.5s;
}
@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 375px) {
  .intro-title {
    font-size: 64px;
  }
  .intro-subtitle {
    font-size: 24px;
  }
}
@media (min-width: 750px) {
  .intro .container {
    padding: 0 20px;
  }
}
@media (min-width: 1020px) {
  .intro {
    background-color: #000;
    background-position: center 0;
  }
  .intro .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .intro-title {
    font-size: 96px;
    line-height: 77.123px;
  }
  .intro-subtitle {
    width: 491px;
    margin: 0 auto;
  }
}
.main {
  margin-top: 160px;
}
.main .container {
  padding: 0 20px;
}
.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
}
.main__subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #8b77fe;
  text-transform: uppercase;
  line-height: 95%;
  letter-spacing: -0.54px;
}
.main__title {
  margin-top: 16px;
  font-size: 40px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.8px;
}
.main__news {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  margin-top: 24px;
}
.main__news-item {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: inherit;
  min-height: 272px;
  padding: 24px;
  border-radius: 16px;
  background: #0d0d0d;
  position: relative;
}
.main__news-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(3, 3, 3, 0.82) 0%, rgba(255, 249, 249, 0) 100%);
  z-index: 1;
  border-radius: 16px;
}
.main__news-img {
  transition: all 400ms linear;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
}
.main__news-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.main__news-link {
  position: relative;
  z-index: 3;
}
.main__news-link .news__link-title {
  max-height: 91px;
  font-size: 32px;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.64px;
  position: relative;
  z-index: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main__news-link .news__link-date {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: inherit;
  align-items: center;
  margin-top: 16px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5607843137);
  line-height: 95%;
  letter-spacing: -0.54px;
}
.main br {
  display: none;
}

@media (min-width: 420px) {
  .main__news {
    width: 90%;
    margin: 24px auto 0;
  }
}
@media (min-width: 560px) {
  .main__news {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 24px auto 0;
  }
  .main__news-img {
    object-fit: cover;
    object-position: center center;
  }
}
@media (min-width: 750px) {
  .main .container {
    padding: 0 20px;
  }
  .main__news-img {
    object-position: 0 0;
  }
  .main br {
    display: block;
  }
}
@media (min-width: 1020px) {
  .main .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .main__subtitle {
    font-size: 18px;
  }
  .main__title {
    max-width: 638px;
    font-size: 48px;
    letter-spacing: -0.96px;
  }
  .main__news {
    grid-template-columns: repeat(3, 1fr);
  }
  .main__news-item:hover .main__news-img {
    transform: scale(1.2);
  }
  .main__news-link .news__link-title:hover {
    text-decoration: underline;
  }
}
.form {
  margin: 116px 0 130px;
}
.form .container {
  padding: 0 20px;
}
.form__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #8b77fe;
  text-transform: uppercase;
  line-height: 95%;
}
.form__title {
  margin: 16px 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.8px;
}
.form__subtitle-bottom {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5607843137);
  line-height: 130%;
}
.form .form__input {
  margin-top: 48px;
  border-radius: 16px;
  background: #0d0d0d;
  padding: 16px;
}
.form .form__input > div {
  background-color: #000;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  flex-wrap: no-wrap;
  gap: 4px;
}
.form .form__input div label {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.48px;
}
.form .form__input div input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.48px;
}
.form .form__input div input::placeholder {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.48px;
}
.form .form__input div + div {
  margin-top: 12px;
}
.form .form__input-file input {
  display: none;
}
.form .form__input-file label + label {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  line-height: 130%;
  cursor: pointer;
}
.form .form__input button {
  margin-top: 24px;
  padding: 11px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background: #8b77fe;
  font-size: 16px;
  font-weight: 600;
}
.form .form__input-text {
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.6588235294);
  letter-spacing: -0.48px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6588235294);
  line-height: 130%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  background-color: #0d0d0d !important;
  align-items: center;
  padding-bottom: 0 !important;
}

@media (min-width: 750px) {
  .form .container {
    padding: 0 20px;
  }
}
@media (min-width: 1020px) {
  .form .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .form__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: inherit;
    align-items: flex-start;
  }
  .form__info {
    flex-basis: 618px;
    margin-top: 52px;
  }
  .form__input {
    flex-basis: 419px;
  }
}
.footer {
  background-color: rgba(0, 0, 0, 0.9803921569);
  margin-top: auto;
}
.footer .container {
  padding: 0 20px;
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(5px);
  font-size: 16px;
  text-align: center;
  line-height: 130%;
  order: 2;
  padding: 16px 20px;
}
.footer__list {
  width: 100%;
  padding: 0 20px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  order: 1;
  list-style-type: none;
}
.footer__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__list-item + .footer__list-item {
  margin-left: 24px;
}
.footer__list-link {
  font-size: 16px;
  text-align: end;
  line-height: 130%;
  display: block;
  transition: color 600ms;
  position: relative;
}
.footer__list-link::after {
  transition: all 600ms linear;
  content: "";
  display: block;
  position: absolute;
  top: 110%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  transform: scaleX(0);
}

@media (min-width: 750px) {
  .footer .container {
    padding: 0 20px;
  }
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: no-wrap;
    align-items: center;
  }
  .footer__info {
    width: 100%;
  }
  .footer__list {
    margin-top: 0;
    padding: 0;
    order: 2;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer__list-item {
    margin-top: 0;
  }
}
@media (min-width: 1020px) {
  .footer .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .footer__list {
    width: 55%;
    justify-content: flex-end;
    margin-top: 0;
  }
  .footer__list-link:hover {
    cursor: pointer;
    color: #8b77fe;
  }
  .footer__list-link:hover::after {
    transform: scaleX(0.5);
  }
  .footer__info {
    width: 45%;
    margin-top: 0;
  }
}
.artists {
  margin: 80px 0 130px;
}
.artists .container {
  padding: 0 20px;
}
.artists__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
}
.artists__subtitle {
  color: #8b77fe;
  font-size: 18px;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.artists__title {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.artists__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  width: 100%;
  margin-top: 48px;
}
.artists__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0d0d0d;
  background: #000;
}
.artists__list-link {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-wrap: inherit;
  height: 100%;
}
.artists__list-img {
  height: 150px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.artists__list-img img {
  transition: all 600ms linear;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artists__list-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.48px;
  margin: 20px 0 12px;
}
.artists__list-about {
  color: rgba(255, 255, 255, 0.5607843137);
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.54px;
  margin-top: auto;
}

@media (min-width: 375px) {
  .artists__title {
    font-size: 40px;
  }
}
@media (min-width: 480px) {
  .artists__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 750px) {
  .artists .container {
    padding: 0 20px;
  }
  .artists__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1020px) {
  .artists .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .artists__title {
    max-width: 638px;
    font-size: 48px;
    letter-spacing: -0.96px;
  }
  .artists__list-img img:hover {
    transform: scale(1.2);
    border-radius: 8px;
  }
}
.services {
  margin: 80px 0 130px;
}
.services .container {
  padding: 0 20px;
}
.services__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
}
.services__subtitle {
  color: #8b77fe;
  font-size: 18px;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.services__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 95%;
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  width: 100%;
  margin-top: 48px;
}
.services__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0d0d0d;
  background: #0d0d0d;
}
.services__list-link {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-wrap: inherit;
}
.services__list-title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.48px;
}
.services__list-subtitle {
  color: rgba(255, 255, 255, 0.5607843137);
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.54px;
  margin-top: 12px;
}
.services__list-price {
  color: #8b77fe;
  font-size: 24px;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.48px;
  margin-top: 16px;
}

@media (min-width: 375px) {
  .services__title {
    font-size: 40px;
  }
}
@media (min-width: 480px) {
  .services__list-item {
    width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .services__list-item {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 750px) {
  .services .container {
    padding: 0 20px;
  }
  .services__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1020px) {
  .services .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .services__title {
    max-width: 638px;
    font-size: 48px;
    letter-spacing: -0.96px;
  }
}
.shop {
  margin: 80px 0 130px;
}
.shop .container {
  padding: 0 20px;
}
.shop__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
}
.shop__subtitle {
  color: #8b77fe;
  font-size: 18px;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.shop__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.shop__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  width: 100%;
  margin-top: 48px;
}
.shop__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0d0d0d;
  background: #0d0d0d;
}
.shop__list-link {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  flex-wrap: inherit;
}
.shop__list-img {
  width: 100%;
  overflow: hidden;
}
.shop__list-img img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.shop__list-name {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.48px;
  margin: 20px 0 12px;
}
.shop__list-price {
  color: #8b77fe;
  font-size: 24px;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.48px;
}
.shop__list-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: no-wrap;
  align-items: center;
  padding: 11px 16px;
  gap: 8px;
  border-radius: 8px;
  align-self: stretch;
  background: #8b77fe;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 375px) {
  .shop__title {
    font-size: 40px;
  }
}
@media (min-width: 480px) {
  .shop__list-item {
    width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .shop__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .shop__list-item {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 750px) {
  .shop .container {
    padding: 0 20px;
  }
  .shop__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1020px) {
  .shop .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .shop__title {
    max-width: 638px;
    font-size: 48px;
    letter-spacing: -0.96px;
  }
  .shop__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .shop__list-img img {
    transition: all 600ms linear;
  }
  .shop__list-img img:hover {
    transform: scale(1.2);
  }
}
.single {
  margin: 80px 0 130px;
}
.single .container {
  padding: 0 20px;
}
.single__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
}
.single__subtitle {
  color: #8b77fe;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.single__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.single__btn {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  flex-wrap: inherit;
  margin-top: 24px;
}
.single__btn-active, .single__btn-inactive {
  cursor: pointer;
  display: flex;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.single__btn-active {
  border: 1px solid transparent;
  background: #8b77fe;
  margin-right: 12px;
}
.single__btn-inactive {
  border: 1px solid #8b77fe;
  background: transparent;
  color: #8b77fe;
  transition: all 400ms linear;
}
.single__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
  width: 100%;
  margin-top: 48px;
}
.single__list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0d0d0d;
  background: #0d0d0d;
}
.single__list-img {
  width: 100%;
  overflow: hidden;
}
.single__list-img img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.single__list-title {
  color: #8b77fe;
  font-size: 16px;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-top: 20px;
}
.single__list-name {
  font-size: 20px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.48px;
  margin: 8px 0;
}
.single__list-singer {
  color: rgba(255, 255, 255, 0.5607843137);
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.54px;
  margin-top: auto;
}

@media (min-width: 375px) {
  .single__title {
    font-size: 40px;
  }
}
@media (min-width: 480px) {
  .single__list-item {
    width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .single__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .single__list-item {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 750px) {
  .single .container {
    padding: 0 20px;
  }
  .single__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1020px) {
  .single .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .single__title {
    max-width: 662px;
    font-size: 48px;
    letter-spacing: -0.96px;
  }
  .single__list {
    grid-template-columns: repeat(4, 1fr);
  }
  .single__list-img img {
    transition: all 600ms linear;
  }
  .single__list-img img:hover {
    transform: scale(1.2);
  }
  .single__btn-inactive:hover {
    border-color: #ffffff;
    color: #ffffff;
  }
}
.album {
  margin: 80px 0 130px;
}
.album .container {
  padding: 0 20px;
}
.album__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: inherit;
  align-items: center;
}
.album__subtitle {
  color: #8b77fe;
  font-size: 18px;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
}
.album__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.8px;
  margin-top: 16px;
}
.album__btn {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  flex-wrap: inherit;
  margin-top: 24px;
}
.album__btn-active, .album__btn-inactive {
  cursor: pointer;
  display: flex;
  padding: 9px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.album__btn-active {
  border: 1px solid transparent;
  background: #8b77fe;
  color: #ffffff;
}
.album__btn-inactive {
  margin-right: 12px;
  border: 1px solid #8b77fe;
  background: transparent;
  color: #8b77fe;
}
.album__list {
  display: grid;
  grid-template-columns: 1, 1fr;
  gap: 12px;
  width: 100%;
  margin-top: 48px;
}
.album__list-item {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #0d0d0d;
  background: #000;
}
.album__list-img {
  width: 100%;
  overflow: hidden;
}
.album__list-img img {
  transition: all 600ms linear;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
.album__list-title {
  color: #8b77fe;
  font-size: 18px;
  font-weight: 600;
  line-height: 95%;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  margin-top: 20px;
}
.album__list-name {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
.album__list-name p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 95%;
  letter-spacing: -0.48px;
}
.album__list-singer {
  color: rgba(255, 255, 255, 0.5607843137);
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.54px;
}
.album__list-tracks {
  list-style-type: none;
}
.album__list-tracks .tracks__list-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.36px;
  margin-top: 8px;
  padding: 14px;
  gap: 8px;
  align-self: stretch;
  border-radius: 4px;
  background: #0d0d0d;
  counter-increment: track-counter;
}
.album__list-tracks .tracks__list-item::before {
  content: counter(track-counter) "   ";
  padding-right: 4px;
  color: rgba(255, 255, 255, 0.5607843137);
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.54px;
}

@media (min-width: 375px) {
  .album__title {
    font-size: 40px;
  }
}
@media (min-width: 480px) {
  .album__list-item {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 750px) {
  .album .container {
    padding: 0 20px;
  }
}
@media (min-width: 1020px) {
  .album .container {
    max-width: 1300px;
    margin: 0 auto;
  }
  .album__title {
    max-width: 662px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 95%;
    letter-spacing: -0.96px;
  }
  .album__list {
    width: 850px;
  }
  .album__list-img {
    flex-basis: 445px;
  }
  .album__list-img img:hover {
    transform: scale(1.2);
  }
  .album__list-wrapper {
    margin-left: 32px;
    flex-basis: 405px;
  }
  .album__list-item {
    width: 100%;
    display: flex;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #0d0d0d;
    background: #000;
    margin-top: 12px;
  }
}/*# sourceMappingURL=style.css.map */