@media (min-width:750px) {
    .footer {
        .container {
            padding: 0 20px;
        }
        &__wrapper {
            padding: 16px 0;
            @include flex(row, space-between, no-wrap);
            align-items: center;
        }

        &__logo {
            flex-basis: auto;
            order: 1;
        }

        &__list {
            margin-top: 0;
            padding: 0;
            order: 2;
            width: 70%;
            align-items: center;
            justify-content: flex-end;

            &-item {
                margin-top: 0;
            }
        }
    }
}

