@media (min-width: 1020px) {
  .album {
    .container {
      max-width: 1300px;
      margin: 0 auto;
    }

    &__title {
      max-width: 662px;
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      line-height: 95%;
      letter-spacing: -0.96px;
    }

    &__list {
      width: 850px;
      &-img {
        flex-basis: 445px;
        img {
          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &-wrapper {
        margin-left: 32px;
        flex-basis: calc(850px - 445px);
      }

      &-item {
        width: 100%;
        display: flex;
        padding: 20px;
        border-radius: 16px;
        border: 1px solid $dark;
        background: $black;
        margin-top: 12px;
      }
    }
  }
}
