.artists {
    .container {
        padding: 0 20px;
    }

    &__wrapper {
        @include flex(column, center, inherit);
        align-items: center;
        margin-top: 80px;
    }


    &__subtitle {
        color: #8B77FE;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 95%;
        letter-spacing: -0.54px;
        text-transform: uppercase;
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 95%;
        /* 38px */
        letter-spacing: -0.8px;
        margin-top: 16px;
    }

    &__list {
        @include flex(column, flex-start, inherit);
        align-items: flex-start;
        list-style-type: none;
        width: 100%;
        margin-top: 48px;

        &-item {
            width: 100%;
            padding: 20px;
            border-radius: 16px;
            border: 1px solid #0D0D0D;
            background: #000;
        }

        &-item+&-item {
            margin-top: 12px;
        }

        &-link {
            @include flex(column, flex-start, inherit);
            align-items: flex-start;
        }

        &-img {
            height: 150px;
            width: 100%;
            overflow: hidden;

            img {
                transition: all 600ms linear;
                border-radius: 8px;
                width: 100%;
                height: 100%;

                &:hover {
                    transform: scale(1.2);
                    border-radius: 8px;
                }
            }
        }

        &-name {
            color: #FFF;
            font-family: Raleway;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 95%;
            letter-spacing: -0.48px;
            margin-top: 20px;
            margin-bottom: 12px;
        }

        &-about {
            color: rgba(255, 255, 255, 0.56);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: -0.54px;
        }
    }
}