@media (min-width:1020px) {
    .single {
        .container {
            max-width: 1300px;
            margin: 0 auto;
        }

        &__title {
            max-width: 662px;
            color: #FFF;
            text-align: center;
            font-family: Raleway;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 95%;
            /* 45.6px */
            letter-spacing: -0.96px;
        }

        &__list {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            &-item {
                width: 24%;
                padding: 20px;
                border-radius: 16px;
                border: 1px solid #0D0D0D;
                background: #000;
                margin-top: 12px;
            }
        }
    }
}