.single {
    .container {
        padding: 0 20px;
    }

    &__wrapper {
        @include flex(column, center, inherit);
        align-items: center;
        padding-top: 80px;
    }


    &__subtitle {
        color: #8B77FE;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 95%;
        letter-spacing: -0.54px;
        text-transform: uppercase;
    }

    &__title {
        color: #FFF;
        text-align: center;
        font-family: Raleway;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 95%;
        /* 38px */
        letter-spacing: -0.8px;
        margin-top: 16px;
    }

    &__btn {
        @include flex(row, inherit, inherit);
        margin-top: 24px;

        &-active,
        &-inactive {
            cursor: pointer;
            display: flex;
            padding: 9px 18px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            /* 16px */
        }

        &-active {
            border: 1px solid transparent;
            background: #8B77FE;
            color: #FFF;
            margin-right: 12px;

        }

        &-inactive {
            border: 1px solid #8B77FE;
            background: transparent;
            color: #8B77FE;
            transition: all 400ms linear;
            &:hover{
                border-color: #fff;
                color:#fff;
            }
        }
    }

    &__list {
        @include flex(column, flex-start, inherit);
        align-items: flex-start;
        list-style-type: none;
        width: 100%;
        margin-top: 48px;

        &-item {
            width: 100%;
            padding: 20px;
            border-radius: 16px;
            border: 1px solid #0D0D0D;
            background: #000;
        }

        &-item+&-item {
            margin-top: 12px;
        }

        &-link {
            @include flex(column, flex-start, inherit);
            align-items: flex-start;
        }

        &-img {
            width: 100%;
            overflow: hidden;
            
            img {
                transition: all 600ms linear;
                &:hover {
                    transform: scale(1.2);

                }

                border-radius: 8px;
                width: 100%;
                height: 100%;
            }
        }


        &-title {
            color: #8B77FE;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 95%;
            /* 17.1px */
            letter-spacing: -0.54px;
            text-transform: uppercase;
            margin-top: 20px;
        }

        &-name {
            color: #FFF;
            font-family: Raleway;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 95%;
            /* 22.8px */
            letter-spacing: -0.48px;
            margin: 8px 0;
        }

        &-singer {
            color: rgba(255, 255, 255, 0.56);
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            /* 23.4px */
            letter-spacing: -0.54px;
        }
    }
}