@media (min-width: 1020px) {
  .single {
    .container {
      max-width: 1300px;
      margin: 0 auto;
    }

    &__title {
      max-width: 662px;
      font-size: 48px;
      letter-spacing: -0.96px;
    }

    &__list {
      grid-template-columns: repeat(4, 1fr);
      &-img {
        img {
          transition: all 600ms linear;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    &__btn {
      &-inactive {
        &:hover {
          border-color: $white;
          color: $white;
        }
      }
    }
  }
}
