@import "../../styles/vars";
@import "../../styles/mixins";

// --mobile v styles

.intro {
  overflow: hidden;
  height: 100vh;
  background: url("../../assets/images/main/headermain-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;

  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    padding: 0 20px;
  }
  &__inner {
    margin-bottom: 160px;
    .anim {
      opacity: 0;
      transform: translateY(30px);
      animation: moveup 500ms linear forwards;
    }
  }

  &-logo {
    width: 206px;
    height: 99px;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
  }

  .logo__anim {
    animation-delay: 500ms;
  }

  .title__anim {
    animation: showup 1500ms linear forwards;
    animation-delay: 1000ms;
  }

  .subtitle__anim {
    animation-delay: 2500ms;
  }

  &-title {
    margin: 24px 0;
    font-size: 54px;
    font-weight: 700;
    line-height: 51.415px;
    letter-spacing: -1.28px;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
    transition: all 400ms linear;
  }

  &-subtitle {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff8f;
    text-align: center;
    line-height: 130%;
    animation-delay: 1.5s;
  }

  @keyframes showup {
    25% {
      opacity: 1;
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      opacity: 1;
      background: $primary;
      background: radial-gradient(circle farthest-corner at center center, $white 0%, $white 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #fff;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
      background: $primary;
      background: radial-gradient(circle farthest-corner at center center, $primary 0%, $white 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px transparent;
    }
  }

  @keyframes moveup {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media (min-width: 375px) {
  .intro {
    &-title {
      font-size: 64px;
    }
    &-subtitle {
      font-size: 24px;
    }
  }
}

// --tablet v styles'

@media (min-width: 750px) {
  .intro {
    .container {
      padding: 0 20px;
    }
  }
}

// --desktop v styles

@media (min-width: 1020px) {
  .intro {
    height: calc100vh;
    background-color: $black;
    background-position: 0 0;

    .container {
      max-width: 1300px;
      margin: 0 auto;
    }

    &-title {
      font-size: 96px;
      line-height: 77.123px;
    }

    &-subtitle {
      width: 491px;
      margin: 0 auto;
    }
  }
}
