@media (min-width: 1020px) {
  .main {
    .container {
      max-width: 1300px;
      margin: 0 auto;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__title {
      max-width: 638px;
      font-size: 48px;
      letter-spacing: -0.96px;
    }

    &__news {
      grid-template-columns: repeat(3, 1fr);
      &-item:hover &-img {
        transform: scale(1.2);
      }

      &-link {
        .news__link-title {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
