.main {
    .container {
      padding: 0 20px;
    }
  
    &__wrapper {
      @include flex(column, center, inherit);
    }
  
    &__subtitle {
      letter-spacing: -0.54px;
      @include font(16px, $ffRalewaySemiBold, 600, #8B77FE, uppercase, left, 95%);
    }
  
    &__title {
      margin-top: 16px;
      letter-spacing: -0.8px;
      @include font(36px, $ffRalewayBold, 700, #fff, inherit, left, 95%);
    }
  
    &__news {
      @include flex(column, center, inherit);
      align-items: center;
      margin-top: 24px;
  
      &-item {
        overflow: hidden;
        @include flex(column, flex-end, inherit);
        width: 100%;
        height: 272px;
        padding: 24px;
        border-radius: 16px;
        background: #0D0D0D;
        margin-top: 24px;
        position: relative;
  
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            0deg,
            rgba(3, 3, 3, 0.82) 0%,
            rgba(255, 249, 249, 0) 100%
          );
          z-index: 1;
          border-radius: 16px;
        }
      }
  
      &-img {
        transition: all 400ms linear;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 16px;
        width: 100%;
        height: 100%;
        filter: brightness(50%);
        background-color: lightgray;
        z-index: 2;
      }
  
      &-item:hover &-img {
        transform: scale(1.2);
      }
  
      &-link {
        position: relative;
        z-index: 3;
  
        .news__link-title {
          @include font(28px, $ffRalewaySemiBold, 600, #fff, inherit, left, 95%);
          letter-spacing: -0.64px;
  
          position: relative;
          z-index: 4;
          &:hover{
            text-decoration: underline;
          }
        }
  
        .news__link-date {
          @include flex(row, left, inherit);
          align-items: center;
          @include font(
            16px,
            $ffRalewayMed,
            500,
            rgba(255, 255, 255, 0.56),
            inherit,
            left,
            95%
          );
          letter-spacing: -0.54px;
          margin-top: 16px;
         
        }
      }
    }
  }
  