@media (min-width: 750px) {
  .main {
    .container {
      padding: 0 20px;
    }
    &__news {
      &-img {
        object-position: 0 0;
      }
    }
    br {
      display: block;
    }
  }
}
